{% extends "preload.html" %}

{% block title %}
Gallery
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/Gallery/Gallery_Page/css/gallery_page.css">
{% endblock css %}

{% block js %}
<script src="/static/Gallery/Gallery_Page/js/gallery_page.js" async defer></script>
{% endblock js %}

{% block body %}
<div class="out-container" id="out-container">
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock body %}
