{% extends "preload.html" %}

{% block title %}
Registration
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/User/Register/css/register.css">
{% endblock css %}

{% block js %}
<script src="/static/User/Register/js/register.js" async defer></script>
{% endblock js %}

{% block header %}
{% endblock header %}

{% block body %}
<div class="register-container">
    <form class="register-form">
        <span class="home-icon"><a href="../homepage"><ion-icon name="home"></ion-icon></a></span>
        <h2>Sign up</h2>
        <div class="input-group">
            <label>Username</label>
            <span class="icon"><ion-icon name="person"></ion-icon></span>
            <input type="text" id="user_name" name="user_name" required>
        </div>
        <div class="input-group">
            <label>Email</label>
            <span class="icon"><ion-icon name="mail"></ion-icon></span>
            <input type="text" id="user_email" name="user_email" required>
        </div>
        <div class="input-group">
            <label>Password</label>
            <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="agree">
            <label><input type="checkbox">I agree to the <a href="#">terms & conditions</a></label>
        </div>
        <button type="submit" class="button">Register</button>
        <div class="register-login">
            <p>Already have an account? <a href="login_page" class="register-link">Login</a></p>
        </div>
    </form>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock body %}
