{% extends "preload.html" %}

{% block title %}
Image Page
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/Gallery/Image_Page/css/image_page.css">
{% endblock css %}

{% block js %}
<script src="/static/Gallery/Image_Page/js/image_page.js" async defer></script>
{% endblock js %}

{% block body %}
<div class="container">
    <div class="left">
        <img id="image" src="{{ filepath }}" alt="Image">
    </div>
    <div class="right">
        <p><strong>Title:</strong> <span id="title">{{ title }}</span></p>
        <p><strong>Author:</strong> <span id="author">{{ username }}</span></p>
        <p><strong>Description:</strong> <span id="description">{{ description }}</span></p>
        <p><strong>Downloads:</strong> <span id="downloads">{{ download_times }}</span></p>
        <p><strong>Created At:</strong> <span id="created_at">{{ create_time }}</span></p>
    </div>
</div>
{% endblock body %}
