body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.upload-container {
    text-align: center;
    margin: 50px auto;
    width: 50%;
}

#preview-container {
    margin-top: 20px;
}

#image-preview {
    max-width: 100%;
    height: auto;
    display: none;
}


footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}