body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

#hero {
    background: url('/static/Pixelate/imgs/temps/81fe69d53c35c7e70724_17179452035731351.png') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 300px 20px;
}

#hero h1 {
    font-size: 3em;
    margin: 0;
}

#hero p {
    font-size: 1.5em;
}

#hero .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .5s, color .5s;
}

#hero .btn:hover {
    background-color: #333;
    color: #fff;
}

.content-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
    margin: 20px 0;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.feature-item {
    background-color: #ddd;
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.feature-item:hover {
    transform: scale(1.05);
    background-color: #ccc;
}

form {
    max-width: 300px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
