{% extends "preload.html" %}

{% block title %}
Upload
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/Pixelate/Upload/css/upload_gallery.css">
{% endblock css %}

{% block js %}
<script src="/static/Pixelate/Upload/js/upload_gallery.js" async defer></script>
{% endblock js %}

{% block body %}
<div class="upload-container">
    <div class="upload-left">
        <img id="result_image" src="">
    </div>
    <div class="upload-right">
        <div class="form-group">
            <label class="trash">I don't like it : <button class="trash"><a href="pixelate_page">Move to the trash</a></button></label>
        </div>
        <h2>Upload to Gallery</h2>
        <div class="form-group">
            <div class="underline">
                <label for="title">Image Title : (Optional)</label>
                <input type="text" name="title" id="title">
            </div>
        </div>
        <div class="form-group">
            <label for="description">Image Description : (Optional)</label>
            <textarea id="description" name="description"></textarea>
        </div>
        <a class="btnUpload-popup" id="btnUpload-popup" href="#">Upload to Gallery</a>
    </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock body %}